
*, body{
    margin: 0;
    padding: 0;
}
.main{
    display: block;
    padding-left:40px;
    margin-left: auto;
    margin-right: auto;
}

.test{
    position: relative;
    font-size:20px;
    
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

body{
    background-color: #1d212b;
    font-family: 'Oswald', Oswald-serif;

}
.main-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;

    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    

    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 20px #d4d4d4;

    transition: .3s ease;
}

.main-menu:hover{
    width: 270px;
}


.text{
    text-align: center!important;
    font-size:30px;
    width: 60%;
    margin: auto;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.hemsidor{
    position: absolute;
    right: 0px;
    width: 70px;
    padding: 10px;
    bottom: 40px;
}

.Kont-test{
    position: absolute;
    right: 0px;
    width: 90px;
    padding: 10px;
    text-align:right;
    bottom: 8px;
}

.column {
    float: left;
    width: 25px;
    padding: 5px;
  }

.hemsidor::after {
    content: "";
    clear: both;
    display: table;
  }


.texter{
    text-align: center!important;
    font-size:25px;
    width: 60%;
    margin: auto;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-top: 50px;
}
h1, p, span{
    color:#fff;
}
.main-menu .menu-item{
    padding: 10px;
}

.main-menu .menu-item:hover{
    background-color: #d6d6d6;
    cursor: pointer;
}
 
.main-menu .menu-item .fa{
    font-size: 25px;
    width: 60px;
    padding: 13px;
}

.main-menu .menu-item:hover > .fa{
    color:rgb(255, 136, 0);
}

@media screen and ( max-width: 450px) {
    body {
      font-size: 10px;
    }
  }
  @media screen and ( max-width: 286px) {
    body {
      font-size: 7px;
    }
  }