*, body{
    margin: 0;
    padding: 0;
}
img{
    margin-left:70px
}


body{
    background-color:  #1d212b;
    font-family: 'Oswald', Oswald-serif;

}
.main-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;

    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    

    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 20px #d4d4d4;

    transition: .3s ease;
    z-index: 10;
}

.main-menu:hover{
    width: 270px;
    z-index: 10;
}



.main-menu .menu-item{
    padding: 10px;
}

.main-menu .menu-item:hover{
    background-color: #d6d6d6;
    cursor: pointer;
}
 
.main-menu .menu-item .fa{
    font-size: 25px;
    width: 60px;
    padding: 13px;
}

.main-menu .menu-item:hover > .fa{
    color:rgb(255, 136, 0);
}

.page-content-1 {
    position: relative;
    margin: auto;
    width: 300px;
    height: 100%;
    left: -175px;
    top: 420px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px grey;
}

div {
    display: block;
}
@media screen and (max-width: 750px) {
    .page-length {
        height: 520px;
    }
    
    .page-title {
        width: 98vw;
        top: 450px;
    }
    
    .page-content-1 {
        left: 0;
    }

    .page-content-2 {
        top: 450px;
        left: 0; 
    }

    .page-title h2 {
        font-size: 10vw;
    }

    h1 {
        font-size: 28px;
    }
}

/*Auto-size title and textbox*/
@media screen and (max-width: 510px) {
    .content .page-img {
        width: 100vw; 
    }

    .page-content-1 {
        width: 88vw;
    }

    .page-content-2 {
        width: 88vw; 
    }
}

/*Auto-size image div width*/
@media screen and (max-width: 300px) {
    .input-text {
        width: 210px;
    }
}